@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700;900&family=Ropa+Sans&display=swap');

html {
    font-family: 'Roboto';
}

.mini-modal {
    /* border: 1px solid #1e1e1e; */
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: 'Roboto';
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7c7c7f73;
  }

  .page-title {
    font-family: 'Ropa Sans';
  }