@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700;900&family=Ropa+Sans&display=swap');

.chat-header {
    font-family: 'Ropa Sans';
}

.msg-area {
    font-family: 'Ropa Sans';
    border-top: 1px solid #ccc;
}

.msg-area:focus{
    outline: none;
}

.msg-send {
    z-index: 2;
    position: absolute;
    right: 30px;
    transform: translate(50%, 50%);
    overflow: scroll;
}

.chat-area {
    overflow-y: scroll;
}

.authUser , .user2 {
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
  }

  .authUser {
    background-color: #78FFCC;
    align-self: flex-end;
  }

  .user2 {
    background-color: #B1B1B1;
  }