@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700;900&family=Ropa+Sans&display=swap');

html {
    font-family: 'Roboto';
}

.load-anim {
    height: 70vh;
}

.pulse-logo {
    transform: scale(1);
	animation: pulse 0.75s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}