@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700;900&family=Ropa+Sans&display=swap');

.nav-link {
    font-family: 'Ropa Sans';
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-link:focus {
    border-top: 2px #1ae690 solid;
    border-left: 2px #1ae690 solid;
    border-right: 2px #1ae690 solid;
}